html {font-family: 'Balthazar'}
body {
    margin:0;
     background-color:#1a1a1a;
     color:#FFFFFF;
}

h1 {text-align: center;
  margin-top: 110px;
}

h2 {
  text-align: center;
}

h4 {
    text-align: center;
}

p {
  display:inline-block;
}

.navbar {
  width:1587px;
	height:300px;
  top: 0;
  border: solid white 0px;
  text-align: center;
  position: fixed;
	height:90px;
	background-color:#000000;
  box-shadow: 0 0 10px #ccc;
}

.navbar ul {
  list-style-type:none;
  padding: 40px;
  padding-top: 2px;
}

.navbar li {
  display:inline-block;
  border:1px solid white;
  padding:15px;
  background:#262626;
  border-radius: 15px;
}

.navbar li a, a {
  color:#FFFFFF;
  list-style-type:none;
}

.navbar li:hover {
  background:#0080ff;
  transition: 1s;
}

.photo {
  text-align: center;
  border-radius: 150px;
  margin:0 auto;
  padding-bottom: 50px;
}

.photo img {
  text-align: center;
  border-radius: 150px;
  height:250px;
  width:250px;
  background-color:white;
  margin:0 auto;
  border: solid grey 2px;
  margin-top: 10px;
  padding: 10px;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.infosperso {
            text-align: center;
}

.portfolio ul {
list-style-type: none;
margin: 0 auto;
width: 900px;
}
.portfolio li {
    float: left;
}
.bandeau {
	width:1587px;
	height:300px;
	background-color:#000000;
  margin-top: 300px;
}

.portfolio {
  text-align: center;
  position: relative;
}

ul:hover li img:not(:hover){
    filter: grayscale(1) blur(5px);
       }

.cv {
    text-align: center;
}

.footer {
        height:50px;
        background:#2F2F2E;
        margin-top:80px;
        margin-bottom:-10px;
        text-align: center;
        padding-bottom: 20px;
        -moz-box-shadow: 0 0 10px #ccc;
        -webkit-box-shadow: 0 0 10px #ccc;
        box-shadow: 0 0 10px #ccc;
}

.mail {
      border: 2px solid #2F2F2E;
      margin-left: 700px;
      margin-right: 700px;
      margin-top: 30px;
      background-color:black;
      border-radius: 5px;
}

.mail:hover {
  background:#0080ff;
  transition: 1s;
}
